<div class="container">
  <div class='row justify-content-center'>
    <div class="card registration-card mb-3">
      <div class="card-body p-4">
        <h3>Create Account</h3>
        <p class="font-weight-light text-secondary">It's free and only takes a minute.</p>
        <hr>

        <form name="form-signup" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
          </div>

          <!--First name-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!firstName.valid}">
            <label class="font-size-sm">First Name</label>
            <input [(ngModel)]="user.firstName" type="text" class="form-control bg-gray-200 border-gray-200"
                   name="InputFirstName" placeholder="First name" #firstName="ngModel" required>
            <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.dirty">
              First name is required
            </div>
          </div>

          <!--Last name-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!lastName.valid}">
            <label class="font-size-sm">Last Name</label>
            <input [(ngModel)]="user.lastName" type="text" class="form-control bg-gray-200 border-gray-200"
                   name="InputLastName" placeholder="Last name" #lastName="ngModel" required>
            <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.dirty">
              Last name is required
            </div>
          </div>

          <!--Username-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!username.valid}">
            <label class="font-size-sm">Username</label>
            <input [(ngModel)]="user.username" type="text" class="form-control bg-gray-200 border-gray-200"
                   name="InputUsername" #username="ngModel" autocomplete='off'
                   usernameValidator minlength='5' required>

            <div class="alert alert-danger" *ngIf="username.invalid && username.dirty">
              <span *ngIf="username.errors.required">Username is required</span>
              <span *ngIf="username.errors.minlength">Minimum length is 5 characters</span>
              <span *ngIf="username.hasError('usernameValidator')">This username already exists</span>
            </div>

          </div>

          <!--Email-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!email.valid}">
            <label class="font-size-sm">Email address</label>
            <input [(ngModel)]="user.email" type="email" class="form-control bg-gray-200 border-gray-200"
                   name="InputEmail" placeholder="yourname@yourmail.com" #email="ngModel" required
                   emailValidator uniqueEmailValidator>

            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <span *ngIf="email.hasError('emailValidator')"> Email format is invalid</span>
              <span *ngIf="email.hasError('uniqueEmailValidator')"> This email is already in use</span>
            </div>
          </div>

          <!--Password-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!password.valid}">
            <label class="font-size-sm">Password</label>
            <input [(ngModel)]="user.password" type="password" class="form-control bg-gray-200 border-gray-200"
                   name="inputPassword"
                   placeholder="Enter your password" #password="ngModel" minlength='6'>
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              Password minimum length is 6 characters.
            </div>
          </div>

          <!--Confirm Password-->
          <div class="form-group" [ngClass]="{'has-error':f.submitted &&!confirmPassword.valid}">
            <label class="font-size-sm">Confirm Password</label>
            <input [(ngModel)]="confPassword" type="password" class="form-control bg-gray-200 border-gray-200"
                   name="InputPassword" validateEqual="inputPassword"
                   placeholder="Confirm your password" #confirmPassword="ngModel">
            <div class="alert alert-danger" *ngIf="confirmPassword.invalid && !confirmPassword.pristine">
              Passwords must match
            </div>
            <div class="alert alert-success" *ngIf="confirmPassword.valid && !confirmPassword.pristine">
              Passwords match
            </div>

          </div>

          <!--Checkbox TERMS AND CONDITIONS-->
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [(ngModel)]="checkboxTermsFlag" #checkboxFlag='ngModel' name='checkBoxTermsFlag'
                     id='checkBoxTermsFlag' class="custom-control-input"
              >
              <label for='checkBoxTermsFlag' class="custom-control-label">I agree with
                <a href="/terms-and-conditions"><u>terms and conditions</u></a></label>
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted && !checkboxTermsFlag">
              Please accept terms and conditions.
            </div>
          </div>
          <button type="submit" [disabled]="!f.valid || !checkboxTermsFlag ? true : false" class="btn btn-primary btn-block">CREATE
            NEW ACCOUNT
          </button>
          <div>Form valid: {{f.form.valid}}</div>
          <div>F valid: {{f.valid}}</div>
          <div>Condition: {{!f.valid && !checkboxTermsFlag}}</div>
          <div class="divider-text">or register with</div>
          <button type="button" class="btn btn-sm btn-outline-primary btn-block has-icon">Facebook</button>
          <button type="button" class="btn btn-sm btn-outline-info btn-block has-icon">Twitter</button>
          <div class="small mt-4">
            Already have an account ?
            <a [routerLink]="['/login']" class="text-decoration-underline">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
