<div class="card card-style1">
  <div class="card-body pb-0 d-block d-md-none">
    <button type="button" data-toggle="modal" data-target="#filterModal" class="btn btn-faded-primary btn-sm has-icon">
      <i class="material-icons mr-2">filter_list</i> Filter
    </button>
  </div>
  <div class="card-body d-flex align-items-center py-2" >
    Sort by :
    <select class="custom-select custom-select-sm w-auto ml-1 mr-auto">
      <option>Popularity</option>
      <option>Low - High Price</option>
      <option>High - Low Price</option>
      <option>Average Rating</option>
      <option>A - Z Order</option>
      <option>Z - A Order</option>
    </select>

    <div class="col-md-2" >Filter by:</div>
    <div class="col-md-4">


    <a href="shop-grid.html" data-toggle="tooltip" title="" class="btn btn-sm btn-text-primary btn-icon rounded-circle active" data-original-title="Show Grid"><i class="material-icons">apps</i></a>
    <a href="shop-list.html" data-toggle="tooltip" title="" class="btn btn-sm btn-text-primary btn-icon rounded-circle ml-1" data-original-title="Show List"><i class="material-icons">list</i></a>
  </div>
</div>
