<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<div class="d-flex">
  <div class="list-with-gap">
    <button [routerLink]="['/admin/product/new']" class="btn btn-primary has-icon" type="button" data-toggle="modal" data-target="#addUser"><i class="material-icons mr-2">add_circle_outline</i>Add new product</button>
    <button class="btn btn-light btn-sm d-none d-sm-block">Import product</button>
    <button class="btn btn-light btn-sm d-none d-sm-block">Export product (Excel)</button>
  </div>
  <button class="btn btn-primary ml-auto align-self-end has-icon" type="button" onclick="document.querySelector('#filter').toggleAttribute('hidden')">
    <i class="material-icons mr-2">filter_list</i>Filter
  </button>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="table-responsive">

      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-bordered table-sm has-checkAll mb-0">
        <caption *ngIf='products' class="p-0 text-right"><small>Total {{products.length}} entries</small></caption>
        <thead class="thead-primary">
        <tr>
          <th>Details</th>
          <th>ID</th>
          <th>Name</th>
          <th>SKU</th>
          <th>Price</th>
          <th>Brand</th>
          <th>Enabled</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor='let p of products; index as i'>

          <tr #someInput>
            <td class="text-center">
              <a class="detail-toggle text-secondary" role="button"></a>
            </td>
            <td><a [routerLink]="['/admin/product/', p.id]">{{p.id}}</a></td>
            <td><a [routerLink]="['/admin/product/', p.id]">{{p.name}}</a></td>
            <td>{{p.sku}}</td>
            <td>{{p.price |currency:'USD':'symbol-narrow'}}</td>
            <td><a [routerLink]="['/admin/brand/', p.brand.id]">{{p.brand.name}}</a></td>
            <td>
              <span class='badge badge-pill'
                    [ngClass]="{'badge-danger': !p.enabled, 'badge-success': p.enabled}">{{p.enabled}}
              </span>
            </td>
          </tr>
          <ng-container *ngIf='displayChild[i]'>
            <tr class='detail-row'>
              <td colspan="4">
                <ul class="data-detail ml-5">
                  <li><span>Age</span><span>{{p.id}}</span></li>
                  <li><span>Start date</span><span>2008/11/28</span></li>
                </ul>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</div>




